<% layout('layout') -%>
<form class="form-horizontal" method="post">
    <fieldset>
        <legend>用户登入</legend>
        <div class="control-group">
            <label for="username" class="control-label">用户名</label>
            <div class="controls">
                <input id="username" name="username" type="text" class="input-xlarge" />
            </div>
        </div>
        <div class="control-group">
            <label for="password" class="control-label">口令</label>
            <div class="controls"><input id="password" name="password" type="password" class="input-xlarge" /></div>
        </div>
        <div class="form-actions"><button type="submit" class="btn btn-premiry">登入</button></div>
    </fieldset>
</form>
